@model ServDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";

}

<!--body content wrap start-->
<div class="main">

    <!--header section start-->
    <partial name="_Header" model="@Model.Breadcrumb" />
    <!--header section end-->
    <!--services details start-->
    <section class="service-details-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="service-details-wrap">
                        <img src="~/../../Assets/img/@Model.Details.Photo" alt="services" class="img-fluid rounded shadow-sm" />
                        <div class="services-detail-content mt-4">
                            <h4>@Model.Details.Name</h4>
                            @Html.Raw(Model.Details.Text)
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar-right pl-4">
                        <!--need help-->
                        <aside class="widget widget-categories">
                            <div class="widget-title">
                                <h5>Need Help?</h5>
                            </div>
                            <p>We are available in 24/7 hours for dedicated support</p>
                            <ul class="primary-list mt-25">
                                <li>
                                    <span class="ti-location-pin mr-2 color-primary"></span>@Model.Sett.Address
                                </li>
                                <li><span class="ti-mobile mr-2 color-primary"></span> @Model.Sett.Phone</li>
                                <li><span class="ti-email mr-2 color-primary"></span>@Model.Sett.Email</li>
                            </ul>
                        </aside>

                        <!-- Subscribe widget-->
                        <aside class="widget widget-categories">
                            <div class="widget-title">
                                <h5>Newsletter</h5>
                            </div>
                            <p>Enter your email address below to subscribe to my newsletter</p>
                            <form action="#" method="post"
                                  class="d-none d-md-block d-lg-block">
                                <input type="text" class="form-control input" id="email-footer" name="email"
                                       placeholder="info@yourdomain.com">
                                <button type="submit" class="btn secondary-solid-btn btn-block btn-not-rounded mt-3">
                                    Subscribe
                                </button>
                            </form>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services details end-->
    <!--call to action section start-->
    <partial name="_Call" />
    <!--call to action section end-->


</div>
<!--body content wrap end-->
