@model ProjectViewModel
@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}

<!--body content wrap start-->
<div class="main">

    <!--header section start-->
    <partial name="_Header" model="@Model.Breadcrumb" />
    <!--header section end-->
    <!--our work or portfolio section start-->
    <partial name="_Qualities" model="@Model.Projects" />
    <!--our work or portfolio section end-->
    <!--counter section start-->
    <section class="call-to-action ptb-100 gradient-overlay" style="background: url('~/../../Assets/img/slider-img-3.jpg')no-repeat top center / cover fixed">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="call-to-action-content text-white">
                        <h2 class="text-white mb-1">Looking for Quality Services ?</h2>
                        <p>Progressively deliver market-driven quality vectors rather than goal-oriented niche markets.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="action-btn text-lg-right text-sm-left">
                        <a href="#" class="btn outline-white-btn">Contact us Today</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--counter section end-->
    <!--our pricing section start-->
    <section class="pricing-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Affordable Pricing and Packages</h2>
                        <p CLASS="lead">
                            Efficiently aggregate end-to-end core competencies without maintainable ideas. Dynamically
                            foster tactical solutions without enabled value.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                @foreach (var price in Model.Packages)
                {
                    <div class="col-lg-4 col-md">
                        <div class="card @price.Class text-center single-pricing-pack">
                            <div class="pt-4"><h5>@price.Name</h5></div>
                            <div class="pricing-img mt-4">
                                <img src="~/Assets/img/@price.Photo" alt="pricing img" class="img-fluid">
                            </div>
                            <div class="card-header py-4 border-0 pricing-header">
                                <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">@price.Price</span></div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-sm mb-4 pricing-feature-list">
                                    @Html.Raw(price.Content)
                                </ul>
                                <a href="#" class="btn @price.BtnClass mb-3" target="_blank">Purchase now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--our pricing section end-->
    <!--testimonial section start-->
    <partial name="_Testimonial" model="@Model.Clients"/>
    <!--testimonial section end-->
    <!--client section start-->
    <partial name="_Clients" model="@Model.Partners" />
    <!--client section start-->


</div>
<!--body content wrap end-->
